<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="robot_description" textfile="$(find darwin_description)/urdf/darwin.urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find darwin_description)/worlds/empty.world"/>
    <arg name="paused" value="true"/>
    <arg name="verbose" value="true" />
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find darwin_description)/urdf/darwin.urdf -urdf -model darwin -z 0.3417"/>
</launch>
