<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="robot_description" textfile="$(find darwin_description)/urdf/darwin.urdf"/>
  <!-- Read joint value --!>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" />

  <arg name="use_gui" default="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" unless="$(arg use_gui)"/>
  <node name="robot_state_publisher_gui" pkg="robot_state_publisher_gui" type="robot_state_publisher_gui"  output="screen" if="$(arg use_gui)"/>

</launch>
