<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="robot_description" textfile="$(find darwin_description)/urdf/darwin.urdf"/>
  <node name="rviz" pkg="rviz" type="rviz"/>
  <arg name="use_gui" default="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" unless="$(arg use_gui)"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" if="$(arg use_gui)"/>
</launch>
